
USE [RankingManagement]
GO
/****** Object:  Table [dbo].[Account]    Script Date: 10/31/2024 9:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Account](
	[account_id] [int] IDENTITY(1,1) NOT NULL,
	[username] [varchar](100) NOT NULL,
	[password_hash] [varchar](255) NOT NULL,
	[email] [varchar](100) NOT NULL,
	[role] [varchar](50) NULL,
	[status] [nvarchar](50) NULL,
	[full_name] [nvarchar](100) NULL,
	[date_of_birth] [date] NULL,
	[address] [nvarchar](255) NULL,
	[phone_number] [nvarchar](50) NULL,
	[gender] [nvarchar](50) NULL,
	[token] [varchar](255) NULL,
	[token_expiration] [datetime] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__Account__46A222CD7F2ACED2] PRIMARY KEY CLUSTERED 
(
	[account_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Bulk_Ranking_History]    Script Date: 10/31/2024 9:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Bulk_Ranking_History](
	[history_id] [int] IDENTITY(1,1) NOT NULL,
	[decision_id] [int] NULL,
	[upload_at] [datetime] NULL,
	[upload_by] [int] NULL,
	[status] [nvarchar](50) NULL,
	[note] [text] NULL,
 CONSTRAINT [PK__Bulk_Ran__096AA2E9D347236B] PRIMARY KEY CLUSTERED 
(
	[history_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Criteria]    Script Date: 10/31/2024 9:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Criteria](
	[criteria_id] [int] IDENTITY(1,1) NOT NULL,
	[criteria_name] [nvarchar](100) NULL,
	[max_score] [int] NULL,
	[num_options] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__Criteria__401F949D669B4D18] PRIMARY KEY CLUSTERED 
(
	[criteria_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Decision_Criteria]    Script Date: 10/31/2024 9:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Decision_Criteria](
	[decision_id] [int] NOT NULL,
	[criteria_id] [int] NOT NULL,
	[weight] [float] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[decision_id] ASC,
	[criteria_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Decision_Tasks]    Script Date: 10/31/2024 9:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Decision_Tasks](
	[decision_id] [int] NOT NULL,
	[task_id] [int] NOT NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[decision_id] ASC,
	[task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DecisionCriteria]    Script Date: 10/31/2024 9:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DecisionCriteria](
	[decision_id] [int] NOT NULL,
	[criteria_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[decision_id] ASC,
	[criteria_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Employee]    Script Date: 10/31/2024 9:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Employee](
	[employee_id] [int] IDENTITY(1,1) NOT NULL,
	[employee_name] [nvarchar](100) NOT NULL,
	[rank_title_id] [int] NULL,
	[bulk_import_id] [int] NULL,
	[ranking_decision_id] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__Employee__C52E0BA891B6DE09] PRIMARY KEY CLUSTERED 
(
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[GroupEmployees]    Script Date: 10/31/2024 9:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[GroupEmployees](
	[group_id] [int] NOT NULL,
	[employee_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[group_id] ASC,
	[employee_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Options]    Script Date: 10/31/2024 9:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Options](
	[option_id] [int] IDENTITY(1,1) NOT NULL,
	[criteria_id] [int] NULL,
	[option_name] [nvarchar](100) NULL,
	[score] [int] NULL,
	[description] [text] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__Options__F4EACE1BD6305DC2] PRIMARY KEY CLUSTERED 
(
	[option_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ranking_Decision]    Script Date: 10/31/2024 9:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ranking_Decision](
	[decision_id] [int] IDENTITY(1,1) NOT NULL,
	[decision_name] [nvarchar](100) NULL,
	[status] [nvarchar](50) NULL,
	[finalized_at] [datetime] NULL,
	[finalized_by] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__Ranking___7F66496C41B62117] PRIMARY KEY CLUSTERED 
(
	[decision_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ranking_Group]    Script Date: 10/31/2024 9:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ranking_Group](
	[group_id] [int] IDENTITY(1,1) NOT NULL,
	[group_name] [nvarchar](100) NULL,
	[num_employees] [int] NULL,
	[current_ranking_decision] [int] NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__Ranking___D57795A0E1337E23] PRIMARY KEY CLUSTERED 
(
	[group_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ranking_Title]    Script Date: 10/31/2024 9:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ranking_Title](
	[ranking_title_id] [int] IDENTITY(1,1) NOT NULL,
	[decision_id] [int] NULL,
	[title_name] [nvarchar](100) NULL,
	[total_score] [float] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__Ranking___A7BE704532B3952F] PRIMARY KEY CLUSTERED 
(
	[ranking_title_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Ranking_Title_Option]    Script Date: 10/31/2024 9:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Ranking_Title_Option](
	[ranking_title_id] [int] NOT NULL,
	[option_id] [int] NOT NULL,
	[score] [float] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ranking_title_id] ASC,
	[option_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[System_Log]    Script Date: 10/31/2024 9:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[System_Log](
	[log_id] [int] IDENTITY(1,1) NOT NULL,
	[account_id] [int] NULL,
	[action] [nvarchar](255) NULL,
	[log_time] [datetime] NULL,
	[ip_address] [nvarchar](50) NULL,
	[user_agent] [nvarchar](255) NULL,
 CONSTRAINT [PK__System_L__9E2397E026ABD589] PRIMARY KEY CLUSTERED 
(
	[log_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task]    Script Date: 10/31/2024 9:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task](
	[task_id] [int] IDENTITY(1,1) NOT NULL,
	[task_name] [nvarchar](100) NULL,
	[created_by] [int] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
 CONSTRAINT [PK__Task__0492148DEEFF82E7] PRIMARY KEY CLUSTERED 
(
	[task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Task_Wages]    Script Date: 10/31/2024 9:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Task_Wages](
	[ranking_title_id] [int] NOT NULL,
	[task_id] [int] NOT NULL,
	[working_hour_wage] [float] NULL,
	[overtime_wage] [float] NULL,
	[created_at] [datetime] NULL,
	[updated_at] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[ranking_title_id] ASC,
	[task_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaskDecision]    Script Date: 10/31/2024 9:57:20 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaskDecision](
	[task_id] [int] NOT NULL,
	[decision_id] [int] NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[task_id] ASC,
	[decision_id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[Account] ON 

INSERT [dbo].[Account] ([account_id], [username], [password_hash], [email], [role], [status], [full_name], [date_of_birth], [address], [phone_number], [gender], [token], [token_expiration], [created_at], [updated_at]) VALUES (1, N'quatbt', N'111', N'buitienquat2k3@gmail.com', N'1', N'1', N'bui tien quat', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Account] ([account_id], [username], [password_hash], [email], [role], [status], [full_name], [date_of_birth], [address], [phone_number], [gender], [token], [token_expiration], [created_at], [updated_at]) VALUES (2, N' fpt', N'111', N'fpt@fpt.com', N'1', N'1', N'fpt@fpt.com', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
INSERT [dbo].[Account] ([account_id], [username], [password_hash], [email], [role], [status], [full_name], [date_of_birth], [address], [phone_number], [gender], [token], [token_expiration], [created_at], [updated_at]) VALUES (3, N'1', N'1', N'1@pro.pro', N'1', N'1', NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Account] OFF
GO
SET IDENTITY_INSERT [dbo].[Criteria] ON 

INSERT [dbo].[Criteria] ([criteria_id], [criteria_name], [max_score], [num_options], [created_by], [created_at], [updated_at]) VALUES (1, N'Antsalova', 551, 5762, 1, NULL, NULL)
INSERT [dbo].[Criteria] ([criteria_id], [criteria_name], [max_score], [num_options], [created_by], [created_at], [updated_at]) VALUES (2, N'Pocatello', 4452, 120, 1, NULL, NULL)
INSERT [dbo].[Criteria] ([criteria_id], [criteria_name], [max_score], [num_options], [created_by], [created_at], [updated_at]) VALUES (3, N'Tamworth', 1334, 1005, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Criteria] OFF
GO
SET IDENTITY_INSERT [dbo].[Ranking_Decision] ON 

INSERT [dbo].[Ranking_Decision] ([decision_id], [decision_name], [status], [finalized_at], [finalized_by], [created_by], [created_at], [updated_at]) VALUES (1, N'QDD01/Fsoft/ASBCDEF', N'draff', NULL, 1, 1, NULL, NULL)
INSERT [dbo].[Ranking_Decision] ([decision_id], [decision_name], [status], [finalized_at], [finalized_by], [created_by], [created_at], [updated_at]) VALUES (2, N'QDD01/Fsoft/ASBCDEF', N'waiting', NULL, 1, 1, NULL, NULL)
INSERT [dbo].[Ranking_Decision] ([decision_id], [decision_name], [status], [finalized_at], [finalized_by], [created_by], [created_at], [updated_at]) VALUES (3, N'QDD01/Fsoft/ASBCDEF', N'waiting', NULL, 1, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Ranking_Decision] OFF
GO
SET IDENTITY_INSERT [dbo].[Ranking_Group] ON 

INSERT [dbo].[Ranking_Group] ([group_id], [group_name], [num_employees], [current_ranking_decision], [created_by], [created_at], [updated_at]) VALUES (1, N'Class Admin', 3, 1, 1, NULL, NULL)
INSERT [dbo].[Ranking_Group] ([group_id], [group_name], [num_employees], [current_ranking_decision], [created_by], [created_at], [updated_at]) VALUES (2, N'Marketing Clerk', 3, 2, 1, NULL, NULL)
INSERT [dbo].[Ranking_Group] ([group_id], [group_name], [num_employees], [current_ranking_decision], [created_by], [created_at], [updated_at]) VALUES (3, N'Supporter', 4, 3, 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Ranking_Group] OFF
GO
SET IDENTITY_INSERT [dbo].[Task] ON 

INSERT [dbo].[Task] ([task_id], [task_name], [created_by], [created_at], [updated_at]) VALUES (1, N'Giảng dạy', 1, NULL, NULL)
INSERT [dbo].[Task] ([task_id], [task_name], [created_by], [created_at], [updated_at]) VALUES (2, N'Hướng dẫn và hỗ trợ', 1, NULL, NULL)
INSERT [dbo].[Task] ([task_id], [task_name], [created_by], [created_at], [updated_at]) VALUES (3, N'Tạo tài liệu', 1, NULL, NULL)
SET IDENTITY_INSERT [dbo].[Task] OFF
GO
ALTER TABLE [dbo].[Bulk_Ranking_History]  WITH CHECK ADD  CONSTRAINT [FK__Bulk_Rank__decis__5629CD9C] FOREIGN KEY([decision_id])
REFERENCES [dbo].[Ranking_Decision] ([decision_id])
GO
ALTER TABLE [dbo].[Bulk_Ranking_History] CHECK CONSTRAINT [FK__Bulk_Rank__decis__5629CD9C]
GO
ALTER TABLE [dbo].[Bulk_Ranking_History]  WITH CHECK ADD  CONSTRAINT [FK__Bulk_Rank__uploa__571DF1D5] FOREIGN KEY([upload_by])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Bulk_Ranking_History] CHECK CONSTRAINT [FK__Bulk_Rank__uploa__571DF1D5]
GO
ALTER TABLE [dbo].[Criteria]  WITH CHECK ADD  CONSTRAINT [FK__Criteria__create__5812160E] FOREIGN KEY([created_by])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Criteria] CHECK CONSTRAINT [FK__Criteria__create__5812160E]
GO
ALTER TABLE [dbo].[Decision_Criteria]  WITH CHECK ADD  CONSTRAINT [FK__Decision___crite__59063A47] FOREIGN KEY([criteria_id])
REFERENCES [dbo].[Criteria] ([criteria_id])
GO
ALTER TABLE [dbo].[Decision_Criteria] CHECK CONSTRAINT [FK__Decision___crite__59063A47]
GO
ALTER TABLE [dbo].[Decision_Criteria]  WITH CHECK ADD  CONSTRAINT [FK__Decision___decis__59FA5E80] FOREIGN KEY([decision_id])
REFERENCES [dbo].[Ranking_Decision] ([decision_id])
GO
ALTER TABLE [dbo].[Decision_Criteria] CHECK CONSTRAINT [FK__Decision___decis__59FA5E80]
GO
ALTER TABLE [dbo].[Decision_Tasks]  WITH CHECK ADD  CONSTRAINT [FK__Decision___decis__5AEE82B9] FOREIGN KEY([decision_id])
REFERENCES [dbo].[Ranking_Decision] ([decision_id])
GO
ALTER TABLE [dbo].[Decision_Tasks] CHECK CONSTRAINT [FK__Decision___decis__5AEE82B9]
GO
ALTER TABLE [dbo].[Decision_Tasks]  WITH CHECK ADD  CONSTRAINT [FK__Decision___task___5BE2A6F2] FOREIGN KEY([task_id])
REFERENCES [dbo].[Task] ([task_id])
GO
ALTER TABLE [dbo].[Decision_Tasks] CHECK CONSTRAINT [FK__Decision___task___5BE2A6F2]
GO
ALTER TABLE [dbo].[DecisionCriteria]  WITH CHECK ADD  CONSTRAINT [FK__DecisionC__crite__5CD6CB2B] FOREIGN KEY([criteria_id])
REFERENCES [dbo].[Criteria] ([criteria_id])
GO
ALTER TABLE [dbo].[DecisionCriteria] CHECK CONSTRAINT [FK__DecisionC__crite__5CD6CB2B]
GO
ALTER TABLE [dbo].[DecisionCriteria]  WITH CHECK ADD  CONSTRAINT [FK__DecisionC__decis__5DCAEF64] FOREIGN KEY([decision_id])
REFERENCES [dbo].[Ranking_Decision] ([decision_id])
GO
ALTER TABLE [dbo].[DecisionCriteria] CHECK CONSTRAINT [FK__DecisionC__decis__5DCAEF64]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK__Employee__bulk_i__5EBF139D] FOREIGN KEY([bulk_import_id])
REFERENCES [dbo].[Bulk_Ranking_History] ([history_id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK__Employee__bulk_i__5EBF139D]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK__Employee__rank_t__5FB337D6] FOREIGN KEY([rank_title_id])
REFERENCES [dbo].[Ranking_Title] ([ranking_title_id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK__Employee__rank_t__5FB337D6]
GO
ALTER TABLE [dbo].[Employee]  WITH CHECK ADD  CONSTRAINT [FK__Employee__rankin__60A75C0F] FOREIGN KEY([ranking_decision_id])
REFERENCES [dbo].[Ranking_Decision] ([decision_id])
GO
ALTER TABLE [dbo].[Employee] CHECK CONSTRAINT [FK__Employee__rankin__60A75C0F]
GO
ALTER TABLE [dbo].[GroupEmployees]  WITH CHECK ADD  CONSTRAINT [FK__GroupEmpl__emplo__619B8048] FOREIGN KEY([employee_id])
REFERENCES [dbo].[Employee] ([employee_id])
GO
ALTER TABLE [dbo].[GroupEmployees] CHECK CONSTRAINT [FK__GroupEmpl__emplo__619B8048]
GO
ALTER TABLE [dbo].[GroupEmployees]  WITH CHECK ADD  CONSTRAINT [FK__GroupEmpl__group__628FA481] FOREIGN KEY([group_id])
REFERENCES [dbo].[Ranking_Group] ([group_id])
GO
ALTER TABLE [dbo].[GroupEmployees] CHECK CONSTRAINT [FK__GroupEmpl__group__628FA481]
GO
ALTER TABLE [dbo].[Options]  WITH CHECK ADD  CONSTRAINT [FK__Options__created__6383C8BA] FOREIGN KEY([created_by])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Options] CHECK CONSTRAINT [FK__Options__created__6383C8BA]
GO
ALTER TABLE [dbo].[Options]  WITH CHECK ADD  CONSTRAINT [FK__Options__criteri__6477ECF3] FOREIGN KEY([criteria_id])
REFERENCES [dbo].[Criteria] ([criteria_id])
GO
ALTER TABLE [dbo].[Options] CHECK CONSTRAINT [FK__Options__criteri__6477ECF3]
GO
ALTER TABLE [dbo].[Ranking_Decision]  WITH CHECK ADD  CONSTRAINT [FK__Ranking_D__creat__656C112C] FOREIGN KEY([created_by])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Ranking_Decision] CHECK CONSTRAINT [FK__Ranking_D__creat__656C112C]
GO
ALTER TABLE [dbo].[Ranking_Decision]  WITH CHECK ADD  CONSTRAINT [FK__Ranking_D__final__66603565] FOREIGN KEY([finalized_by])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Ranking_Decision] CHECK CONSTRAINT [FK__Ranking_D__final__66603565]
GO
ALTER TABLE [dbo].[Ranking_Group]  WITH CHECK ADD  CONSTRAINT [FK__Ranking_G__creat__68487DD7] FOREIGN KEY([created_by])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Ranking_Group] CHECK CONSTRAINT [FK__Ranking_G__creat__68487DD7]
GO
ALTER TABLE [dbo].[Ranking_Group]  WITH CHECK ADD  CONSTRAINT [FK_Ranking_Group_Ranking_Decision] FOREIGN KEY([current_ranking_decision])
REFERENCES [dbo].[Ranking_Decision] ([decision_id])
GO
ALTER TABLE [dbo].[Ranking_Group] CHECK CONSTRAINT [FK_Ranking_Group_Ranking_Decision]
GO
ALTER TABLE [dbo].[Ranking_Title]  WITH CHECK ADD  CONSTRAINT [FK__Ranking_T__decis__693CA210] FOREIGN KEY([decision_id])
REFERENCES [dbo].[Ranking_Decision] ([decision_id])
GO
ALTER TABLE [dbo].[Ranking_Title] CHECK CONSTRAINT [FK__Ranking_T__decis__693CA210]
GO
ALTER TABLE [dbo].[Ranking_Title_Option]  WITH CHECK ADD  CONSTRAINT [FK__Ranking_T__optio__6A30C649] FOREIGN KEY([option_id])
REFERENCES [dbo].[Options] ([option_id])
GO
ALTER TABLE [dbo].[Ranking_Title_Option] CHECK CONSTRAINT [FK__Ranking_T__optio__6A30C649]
GO
ALTER TABLE [dbo].[Ranking_Title_Option]  WITH CHECK ADD  CONSTRAINT [FK__Ranking_T__ranki__6B24EA82] FOREIGN KEY([ranking_title_id])
REFERENCES [dbo].[Ranking_Title] ([ranking_title_id])
GO
ALTER TABLE [dbo].[Ranking_Title_Option] CHECK CONSTRAINT [FK__Ranking_T__ranki__6B24EA82]
GO
ALTER TABLE [dbo].[System_Log]  WITH CHECK ADD  CONSTRAINT [FK__System_Lo__accou__6C190EBB] FOREIGN KEY([account_id])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[System_Log] CHECK CONSTRAINT [FK__System_Lo__accou__6C190EBB]
GO
ALTER TABLE [dbo].[Task]  WITH CHECK ADD  CONSTRAINT [FK__Task__created_by__6D0D32F4] FOREIGN KEY([created_by])
REFERENCES [dbo].[Account] ([account_id])
GO
ALTER TABLE [dbo].[Task] CHECK CONSTRAINT [FK__Task__created_by__6D0D32F4]
GO
ALTER TABLE [dbo].[Task_Wages]  WITH CHECK ADD  CONSTRAINT [FK__Task_Wage__ranki__6E01572D] FOREIGN KEY([ranking_title_id])
REFERENCES [dbo].[Ranking_Title] ([ranking_title_id])
GO
ALTER TABLE [dbo].[Task_Wages] CHECK CONSTRAINT [FK__Task_Wage__ranki__6E01572D]
GO
ALTER TABLE [dbo].[Task_Wages]  WITH CHECK ADD  CONSTRAINT [FK__Task_Wage__task___6EF57B66] FOREIGN KEY([task_id])
REFERENCES [dbo].[Task] ([task_id])
GO
ALTER TABLE [dbo].[Task_Wages] CHECK CONSTRAINT [FK__Task_Wage__task___6EF57B66]
GO
ALTER TABLE [dbo].[TaskDecision]  WITH CHECK ADD  CONSTRAINT [FK__TaskDecis__decis__6FE99F9F] FOREIGN KEY([decision_id])
REFERENCES [dbo].[Ranking_Decision] ([decision_id])
GO
ALTER TABLE [dbo].[TaskDecision] CHECK CONSTRAINT [FK__TaskDecis__decis__6FE99F9F]
GO
ALTER TABLE [dbo].[TaskDecision]  WITH CHECK ADD  CONSTRAINT [FK__TaskDecis__task___70DDC3D8] FOREIGN KEY([task_id])
REFERENCES [dbo].[Task] ([task_id])
GO
ALTER TABLE [dbo].[TaskDecision] CHECK CONSTRAINT [FK__TaskDecis__task___70DDC3D8]
GO
