.container {
  max-width: 800px;
  margin: auto;
}
.custom-modal {
  position: fixed;
  top: 20px;
  right: 0px;
  z-index: 1050; /* Đảm bảo modal hiển thị trên các thành phần khác */
}

.custom-data-grid .MuiDataGrid-cell {
  font-size: 1.2rem;
}

.custom-data-grid .MuiDataGrid-columnHeaders {
  font-size: 1.2rem;
  font-weight: initial;
  color: midnightblue;
}
