/* src/layouts/Sidebar.css */
.sidebar {
  width: 250px;
  height: 100vh;
  background-color: #003366;
  /* Màu nền xanh đậm */
  color: white;
  display: flex;
  flex-direction: column;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
  /* Hiệu ứng đổ bóng */
}

.sidebar-title {
  font-size: 22px;
  font-weight: bold;
  margin-bottom: 30px;
  text-align: center;
}

.nav-link {
  color: black;
  font-size: 16px;
  margin: 10px 0;
  text-decoration: none;
  transition: background-color 0.2s;
  padding: 8px 12px;
  border-radius: 4px;
}

.nav-link:hover {
  background-color: #005599;
  /* Đổi màu khi hover */
  color: black;

}

.nav-link.active {
  background-color: #0066cc;
  /* Màu cho mục đang được chọn */
  color: black;
}

.nav-item {
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .sidebar {
    width: 100%;
    /* Trên màn hình nhỏ, Sidebar chiếm toàn bộ chiều ngang */
    height: auto;
  }
}