.custom-table-cell {
    padding: 4px 8px;
    /* Giảm padding để giảm chiều cao hàng */
    font-size: 14px;
    /* Giảm kích thước chữ nếu cần */
}



.custom-table-row {
    height: 10px;
    /* Đặt chiều cao cố định cho hàng */
}